body {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}


.login-container {
    margin: 150px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}

.login-container h1 {
    text-align: center;

}

.button-container {
    align-items: center;
    text-align: center;
}

.button-container button {

    margin: 20px;
    padding: 20px 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    border: none;


}

#hire-button {
    background-color: rgb(100, 179, 100);
    color: white;

}

#work-button {
    background-color: rgb(68, 68, 158);
    color: white;
}

.account-links a {
    text-decoration: none;
    margin: 0 10px;
}

.account-links {
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.account-links a:hover {
    text-decoration: underline;
    color: #333;
}